---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imagensElements from "../utilitys/imagensElements";
const { lgUPH,foto4, alipay, paylpal, } = imagensElements;

import HeroPortada from "../components/HeroPortada.astro";
import SectionScreen from "../components/SectionScreen.astro";

---

<Layout>
  <main class="mx-auto">
		<!-- portada -->
		<HeroPortada />

		<!-- ===TEMA=== Antecedentes del problema -->
    


		<!-- texto informativo -->
		<SectionScreen tipo="">
			<div class="relative h-full flex flex-col justify-center items-center gap-5 overflow-hidden">
				<div class="absolute mt-10 z-10 bg-white w-[60%] h-[50%] p-10">
					<h3>Tema del texto</h3>
					<p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur praesentium facere soluta minima ducimus in deserunt consequatur! Repellat, ea eligendi nulla autem alias, incidunt sequi tempora vero error, consequatur voluptatem.
          </p>
					<div class="absolute w-full h-10 top-[92%] right-0 bg-gradient-to-r from-background-2 from-10% to-background-3/80 to-100%"></div>
				</div>
				<div class="rectangulo-morado"></div>

			</div>
		</SectionScreen>
    <!-- seccion de temas -->




		<!-- Test de cards estaditicos -->




    <!-- Portada -->
    <div
      class="w-full h-screen flex flex-row items-center justify-center bg-white shadow-lg shadow-white"
    >
      <div
        class="h-full w-[50%] flex flex-col items-center justify-center bg-background-1"
      >
        <Image
          src={lgUPH.img}
          alt={lgUPH.alt}
          width={500}
          height={200}
          class="mx-auto mb-4"
        />
      </div>
      <div class="px-10 h-full w-full flex flex-col justify-center">
        <h1 class="text-6xl">Las Fintech y su Presencia en</h1>
        <h1 class="text-6xl">Honduras en el Año 2024</h1>
        <h2>Presentado por:</h2>
        <p class="text-4xl">Allan Rosales</p>
        <h2>Carrera:</h2>
        <p class="text-4xl">Ingeniería en Sistemas Computacionales</p>
      </div>
    </div>

    <!-- Portada -->
    <div
      class="w-full h-screen flex flex-col items-center justify-center bg-background-1 shadow-lg shadow-white"
    >
      <Image
        src={lgUPH.img}
        alt={lgUPH.alt}
        width={500}
        height={200}
        class="mx-auto mb-4"
      />
      <div class="p-10 bg-white rounded-lg shadow-lg">
        <h1>Las Fintech y su Presencia en Honduras en el Año 2024</h1>
        <h2>Presentado por:</h2>
        <p class="text-4xl">Allan Rosales</p>
        <h2>Carrera:</h2>
        <p class="text-4xl">Ingeniería en Sistemas Computacionales</p>
      </div>
    </div>


    <!-- fintech en el mundo -->
    <div class="h p-10 bg-white rounded-lg shadow-lg shadow-background-1 my-10">
      <h3 class="text-4xl">Principales Fintech en el Mundo</h3>
      <Image
        src={alipay.img}
        alt={alipay.alt}
        width={300}
        height={200}
        class="mx-auto mb-4"
      />
      <Image
        src={paylpal.img}
        alt={paylpal.alt}
        width={200}
        height={200}
        class="mx-auto mb-4"
      />
      <h1 class="text-white">Hola Astro</h1>
      <h2>Este es un H2</h2>
      <p>
        Este es un párrafo de ejemplo para mostrar el uso de Tailwind CSS en
        Astro.
      </p>
    </div>

    <!-- test -->
    <div
      class="overflow-hidden p-10 bg-white rounded-lg shadow-lg shadow-background-1 my-10"
    >
      <Image
        src={foto4.img}
        alt={foto4.alt}
        width={300}
        height={200}
        class="mx-auto mb-4"
      />
      <h1 class="text-white">Hola Astro</h1>
      <h2>Este es un H2</h2>
      <h3>Este es un H3</h3>
      <p>
        Este es un párrafo de ejemplo para mostrar el uso de Tailwind CSS en
        Astro.
      </p>
    </div>

    <svg width="0" height="0">
      <defs>
        <clipPath id="tuFormaSVG" clipPathUnits="objectBoundingBox">
          <path
            d="M.03,0.46c-0.05,0.08-0.03,0.2,0.05,0.25L0.66,1h0.3V0H0.33L.03,0.46Z"
          ></path>
        </clipPath>
      </defs>
    </svg>
  </main>

</Layout>

<style>

	.rectangulo-morado {
		position: absolute;
		width: 70%;
		height: 50%;
		right: 30%;
		top: 15%;
		z-index: 0;
		background-color: var(--color-background-1);
	}
  .icon::before{
    position: absolute;
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: white;
    width: 60%;
    height: 40%;
    top: 30%;
    left: 20%;
  }
</style>

