---
import Layout from "../../layouts/Layout.astro";
import NavSup from "../../components/NavSup.astro";
import AntecedentesProblema from "../../layouts/Secciones/AntecedentesProblema.astro";
import SectionScreen from "../../components/SectionScreen.astro";
import imagensElements from "../../utilitys/imagensElements";
import Ondulaciones from "../../assets/img/svg/ondulacionessvg.svg";
import CardImagenTit from "../../components/CardImagenTit.astro";
import DataBox from "../../components/DataBox.astro";
import NavFooterSection from "../../components/NavFooterSection.astro";
import TitlePinSub from "../../components/TitlePinSub.astro";


const {
  alipay,
  paylpal,
  strapi,
  block,
  nubank,
  pix,
  bitcoin,
  chivo,
  tigo,
  tengo,
  dilo,
  kash,
  pixelPay,
  pagadito,
  ginih,
  sube,
} = imagensElements;
---

<Layout title="Antecedentes del Problema">
  <NavSup />
  
  <TitlePinSub number="02" title="Antecedentes del Problema" />

  <!-- Logos Fintech en el mundo -->
  <SectionScreen tipo="azul" class="overflox-x-scroll">
    <div
      class="relative h-full flex flex-col justify-center items-center gap-5 overflow-hidden p-10"
    >
      <div class="z-10">
        <h2 class="text-center text-4xl md:text-6xl mb-20 text-white">
          Principales Fintech en el mundo
        </h2>
        <div
          class="rectangulo-contenido w-full flex flex-wrap items-center justify-center gap-10"
        >
          <CardImagenTit image={alipay} />
          <CardImagenTit image={paylpal} />
          <CardImagenTit image={strapi} />
          <CardImagenTit image={block} />
        </div>
      </div>
      <Ondulaciones
        class="fig-hondu absolute h-[1920px] w-[2000px] fill-amber-100/20"
      />
    </div>
  </SectionScreen>

  <!-- Logos Fintech Latinoamérica -->
  <SectionScreen tipo="azul">
    <div
      class="relative h-full flex flex-col justify-center items-center gap-5 overflow-hidden p-10"
    >
      <div class="z-10">
        <h2 class="text-center text-4xl md:text-6xl mb-20 text-white">
          Principales Fintech América Latina
        </h2>
        <div
          class="rectangulo-contenido w-full flex flex-wrap items-center justify-center gap-10"
        >
          <CardImagenTit image={nubank} />
          <CardImagenTit image={pix} />
        </div>
      </div>
      <Ondulaciones
        class="fig-hondu absolute h-[1920px] w-[2000px] fill-amber-100/20"
      />
    </div>
  </SectionScreen>

  <!-- Logos Fintech Centroamérica -->
  <SectionScreen tipo="azul">
    <div
      class="relative h-full flex flex-col justify-center items-center gap-5 overflow-hidden p-10"
    >
      <div class="z-10">
        <h2 class="text-center text-4xl md:text-6xl mb-20 text-white">
          Principales Fintech Centroamérica
        </h2>
        <div
          class="rectangulo-contenido w-full flex flex-wrap items-center justify-center gap-10"
        >
          <CardImagenTit image={bitcoin} />
          <CardImagenTit image={chivo} />
        </div>
      </div>
      <Ondulaciones
        class="fig-hondu absolute h-[1920px] w-[2000px] fill-amber-100/20"
      />
    </div>
  </SectionScreen>

  <!-- Logos Fintech en el mundo -->
  <SectionScreen tipo="azul">
    <div
      class="relative h-full flex flex-col justify-center items-center gap-5 overflow-hidden p-10"
    >
      <div class="z-10">
        <h2 class="text-center text-4xl md:text-6xl mb-20 text-white">
          Fintech en Honduras (Billeteras)
        </h2>
        <div
          class="rectangulo-contenido w-full flex flex-wrap items-center justify-center gap-10"
        >
          <CardImagenTit image={tigo} />
          <CardImagenTit image={tengo} />
          <CardImagenTit image={dilo} />
          <CardImagenTit image={kash} />
        </div>
      </div>
      <Ondulaciones
        class="fig-hondu absolute h-[1920px] w-[2000px] fill-amber-100/20"
      />
    </div>
  </SectionScreen>

  <!-- Logos Fintech en el mundo -->
  <SectionScreen tipo="azul" class="py-10">
    <div
      class="relative h-full flex flex-col justify-center items-center gap-5 overflow-hidden p-10"
    >
      <div class="z-10">
        <h2 class="text-center text-4xl md:text-6xl mb-20 text-white">
          Fintech en Honduras (Dinero Electrónico)
        </h2>
        <div
          class="rectangulo-contenido w-full flex flex-wrap items-center justify-center gap-10"
        >
          <CardImagenTit image={pixelPay} />
          <CardImagenTit image={pagadito} />
          <CardImagenTit image={ginih} />
          <CardImagenTit image={sube} />
        </div>
      </div>
      <Ondulaciones
        class="fig-hondu absolute h-[1920px] w-[2000px] fill-amber-100/20"
      />
    </div>
  </SectionScreen>
  <SectionScreen tipo="degradado-2" class="overflow-hidden py-10">
    <div class="h-full flex flex-col justify-center items-center gap-5">
      <p class="text-white text-3xl text-center my-10 md:w-2/3 m-5 md:m-20">
        “En Honduras, el sector fintech ha mostrado un crecimiento
        significativo, lo que refleja un interés creciente en soluciones
        financieras digitales” (CNBS).
      </p>
      <div class="flex flex-wrap gap-10 items-center justify-center">
        <!-- inicio cards -->
        <DataBox
          data="0.55%"
          description="del total de la región en 2023"
          class="bg-white text-primary shadow-xl"
        />
        <DataBox
          data="78.4%"
          description="de bancarización en 2023"
          class="bg-white text-primary shadow-xl"
        />
        <!-- fin cards -->
      </div>
    </div>
  </SectionScreen>

  <SectionScreen tipo="degradado-2" class="overflow-hidden py-10">
    <div class="h-full flex flex-col justify-center items-center gap-5">
      <p class="text-white text-3xl text-center my-10 md:w-2/3 m-5 md:m-20">
        Según cifras del Banco Mundial por cada 1 millón de personas Honduras
      </p>
      <div class="flex flex-wrap gap-10 items-center justify-center">
        <!-- inicio cards -->
        <DataBox
          data="8.1"
          description="Servidores de internet seguros"
        />
        <DataBox
          data="4.1"
          description="Subscriptores de banda ancha"
        />
        <DataBox
          data="76.1"
          description="suscripciones a celulares móviles"
        />
        <DataBox
          data="48.1"
          description="Utilizan internet  móviles"
          />
          <!-- fin cards -->
        </div>
        <p class="text-white text-3xl text-center my-10 md:w-2/3 m-5 md:m-20">
         (CNBS, Reporte de Inclusión Financiera, 2024, pág. 12).
        </p>
    </div>
  </SectionScreen>

    <SectionScreen tipo="degradado-2" class="overflow-hidden py-10">
    <div class="h-full flex flex-col justify-center items-center gap-5">
      <p class="text-white text-3xl text-center my-10 md:w-2/3 m-5 md:m-20">
        Al 2023 el número de puntos de atención por cada <span class="text-secondary">10,000 adultos</span> mayores a 18 años:
      </p>
      <div class="flex flex-wrap gap-10 items-center justify-center">
        <!-- inicio cards -->
        <DataBox
          data="3"
          description="Oficinas"
        />
        <DataBox
          data="148"
          description="POS"
        />
        <DataBox
          data="3"
          description="ATMs"
        />
        <DataBox
          data="21"
          description="agentes corresponsales"
        />
        <DataBox
          data="1"
          description="Ventanilla"
        />
          <!-- fin cards -->
        </div>
        <p class="text-white text-3xl text-center my-10 md:w-2/3 m-5 md:m-20">
         (CNBS, Reporte de Inclusión Financiera, 2024).
        </p>
    </div>
  </SectionScreen>

  <NavFooterSection
    anterior={{
      href: "/01-marco-teorico",
      text: "Marco Teórico",
    }}
    siguiente={{
      href: "/03-objetivos",
      text: "Objetivos de la Investigación",
    }}
  />
</Layout>

<style>
  .fig-hondu {
    mask-image: radial-gradient(circle, black, transparent 80%);
  }
</style>
